.tasksContent {
    margin-top: 1.5rem;
}

.taskSingle {
    background: var(--gray-500);
    border: 1px solid #333333;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
    border-radius: 8px;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem;
    gap: 12px;
    margin-bottom: .75rem;
}

.checkContent {
    display: flex;
    gap: 2rem;
}

.taskSingle input[type=checkbox] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    margin: 0;
    width: 1.25rem;
    height: 1.25rem;
    border: 0.15rem solid var(--blue);
    border-radius: 50%;
    cursor: pointer;

    display: grid;
    place-content: center;

}

.taskSingle input[type=checkbox]:hover {
    border-color: var(--blue-dark);
    background: var(--gray-400);
}

.taskSingle input[type="checkbox"]::before {
    content: "\2714";
    text-align: center;
    color: var(--gray-100);
    width: 1.25rem;
    height: 1.25rem;
    border-color: transparent;
    border-radius: 50%;
    transform: scale(0);
    transition: 220ms transform ease-in-out;
    box-shadow: inset 1rem 1rem var(--purple-dark);

}

.taskSingle input[type="checkbox"]:checked:hover::before {
    box-shadow: inset 1rem 1rem var(--purple);
}

.taskSingle input[type="checkbox"]:checked::before {
    transform: scale(1);
}

.taskSingle label {
    transition: all ease-in-out .8s;
}

.taskSingle input[type="checkbox"]:checked~label {
    text-decoration: line-through;
    color: var(--gray-300);

}

.taskSingle button {
    background: transparent;
    border: 0;
    color: var(--gray-300);
    cursor: pointer;
    border-radius: 4px;
    line-height: 0;
    padding: 4px;
}

.taskSingle button:hover {
    color: var(--danger);
    background: var(--gray-400);
}