.content>header {
    padding-top: 4rem;
    display: flex;
    justify-content: space-between;
}

.info {
    display: flex;
    align-items: center;
    gap: 8px;
}

.info:nth-child(1) h3 {
    color: var(--blue);
}

.info:nth-child(2) h3 {
    color: var(--purple);
}

.counter {
    background: var(--gray-400);
    width: 25px;
    height: 19px;
    border-radius: 999px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.counter span {
    color: var(--gray-200);
    font-size: .75rem;
    font-weight: 700;

}